 .background_map{
    width:100%;
 	  margin-top: 10px;
     background-color: rgba(244, 247, 253, 0.938);
 }

 .ptag{
      margin:0px;
    }

.map{
      width:100%;
}


@media only screen and (max-width: 768px) {
 .background_map{
 	  margin-top: 10px 0;
 	  background-color: #1f2125;
	  width:100%;
 }

 .ptag{
      margin:0px;
      font-size: 10px;
      line-height: 1em;
    }
    
 .map{
      width:100%;

}

}