
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  text-align: center;
}

.card {
  margin: 0 0% !important;
  padding: 6px;
}


.total {
  border-bottom: 5px solid rgba(0, 0, 255, 0.5);
  border-top: 5px solid rgba(0, 0, 255, 0.5);
}

.active {  
  border-bottom: 5px solid rgba(255, 0, 0, 0.4);
  border-top: 5px solid rgba(255, 0, 0, 0.4);
}

.recovered{
  border-bottom: 5px solid rgba(0, 255, 0, 0.5);
  border-top: 5px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 5px solid rgba(255, 0, 0, 0.9);
  border-top: 5px solid rgba(255, 0, 0, 0.9);
}

.rank{
  display: flex;
  border-bottom: 10px solid rgba(255, 65, 200, 0.5);
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 20px 0;
  }

  
  .card {

    padding: 0 5px;
      max-height: fit-content;
      max-width: fit-content;
    margin: 0% 0 !important;
  }
}